@page "/external/banks"

<div class="container">
    <div class="row">
        <div class="col">
            @switch (_selectionData.State)
            {
                case SelectionState.SelectInstitution:
                    <span>Select an institution</span>
                    break;
                case SelectionState.CreateEula:
                    <span>Create and accept a license agreement for @_selectionData.Institution.Name</span>
                    break;
                default:
                    <p>Oops, something went wrong :(</p>
                    break;
            }
            
        </div>
        <div class="col">
            <a class="button button-primary" @onclick="OnContinueButtonClicked">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </a>
            Continue
        </div>
    </div>
    <hr/>
    <div class="row">

        @switch (_selectionData.State)
        {
            case SelectionState.SelectInstitution:
                <InstitutionSelectorComponent @ref="_institutionSelector"/>
                break;
            case SelectionState.CreateEula:
                <EulaCreationComponent SetInstitution="() => _selectionData.Institution" @ref="_eulaCreator"/>
                break;
            default:
                <p>Oops, something went wrong :(</p>
                break;
        }
        
    </div>
</div>