@page "/external/banks"

<h3>BankSyncronizationPage</h3>

<link href="https://unpkg.com/nordigen-bank-ui@1.5.2/package/src/selector.min.css" rel="stylesheet" />

    <div id="institution-content-wrapper"></div>

<script src="https://unpkg.com/nordigen-bank-ui@1.5.2/package/src/selector.min.js"></script>

<button @onclick="(async () => await Client.GetListOfInstitutionsAsync(_country))" >Test</button>