@if (_institutions is not null)
{
    <div class="container">
        <div class="row row-cols-6 gy-2 gx-2">
            @foreach (var i in _institutions)
            {
                <div class="col">
                    <div class="card">
                        <img src="@i.Logo" class="card-img-top img-responsive" alt="Logotype of @i.Name">
                        <div class="card-body">
                            <h5 class="card-title">@i.Name</h5>
                            <p class="card-text">@i.Bic</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}