@page "/external/banks"

<MudText Typo="Typo.h3" GutterBottom="true" Class="mt-4">@_selectionData.GetInformativeTitle()</MudText>

<MudDivider Class="mb-4"/>

<MudPaper Elevation="25" Class="mt-2 mb-4">
    <MudToolBar>
        <MudIconButton Icon="@Icons.Material.Filled.ArrowCircleRight"
                       OnClick="OnContinueButtonClicked"
                       Color="Color.Primary"
                       Variant="Variant.Outlined">
        </MudIconButton>
        
        @if (_ChildToolBarElement is not null)
        {
            @_ChildToolBarElement
        }
    </MudToolBar>
</MudPaper>

<MudPaper Class="pa-2">
    @switch (_selectionData.State)
    {
        case SelectionState.SelectInstitution:
            <InstitutionSelectorComponent @ref="_institutionSelector"/>
            break;
        case SelectionState.CreateEula:
            <EulaCreationComponent OnEulaCreatedCallbackAsync="OnContinueButtonClicked" SetInstitution="() => _selectionData.Institution" @ref="_eulaCreator"/>
            break;
        case SelectionState.CreateLink:
            <NewLinkComponent SetInstitution="() => _selectionData.Institution" SetEula="() => _selectionData.Eula" @ref="_newLink"/>
            break;
        default:
            <p>Oops, something went wrong :(</p>
            break;
    }
</MudPaper>