@page "/recurring"

<h3>RecurringExpensesOverview</h3>

<p>Here you will see all information related to recurring bills and subscriptions.</p>

@* 
Content to show
- List of recurring expenses, with dropdown to filter on subscriptions only, bills only etc
- A widget with the next due date
- A widget with upcoming due dates for current month, and passed due dates
*@

<div class="container">
    <div class="row">
        <div class="col-6">
            <p>xxxx</p>
        </div>
        <div class="col-6">
            <RecurringExpensesListComponent></RecurringExpensesListComponent>
        </div>
    </div>

</div>