@page "/recurring"

<h3>RecurringExpensesOverview</h3>

<p>Here you will see all information related to recurring bills and subscriptions.</p>

@* 
Content to show
- List of recurring expenses, with dropdown to filter on subscriptions only, bills only etc
- A widget with the next due date
- A widget with upcoming due dates for current month, and passed due dates
*@

<div class="container">
    <div class="row">
        <div class="col-6">
            <p>xxxx</p>
        </div>
        <div class="col-6">
            <div class="row col-2">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                  </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" @onclick="() => SetFocusRecurrenceType(null)">All</a></li>
                        <li><a class="dropdown-item" @onclick="() => SetFocusRecurrenceType(RecurrenceType.Subscription)">Subscriptions</a></li>
                        <li><a class="dropdown-item" @onclick="() => SetFocusRecurrenceType(RecurrenceType.Bill)">Bills</a></li>
                        <li><a class="dropdown-item" @onclick="() => SetFocusRecurrenceType(RecurrenceType.Invoice)">Invoices</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <RecurringExpensesListComponent @ref="_recurringExpensesList"/>
            </div>
        </div>
    </div>

</div>