@if (_upcomingExpenses.Count == 0)
{
    <p>No upcoming payments due this month!</p>
}
else
{
    RecurringExpense expense = _upcomingExpenses.First();
    
    <h4>Next upcoming payment</h4>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@expense.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">To be billed on the @(expense.BillingDate.Day):th.</h6>
            <NavLink class="card-link" href="@expense.GetDetailsUrl()">
                Details
            </NavLink>
        </div>
    </div>
}