@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<ToastNotificationComponent/>

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        <div>
            <LoginDisplay/>
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        
        <MudNavMenu>
            <MudNavLink Href="/home" Match="NavLinkMatch.All">Home</MudNavLink>
            <MudNavLink Href="/expenses" Match="NavLinkMatch.All">Expenses</MudNavLink>
            <MudNavLink Href="/recurring" Match="NavLinkMatch.All">Recurring Expenses</MudNavLink>
            <MudNavLink Href="/data/visualize" Match="NavLinkMatch.All">Visualize</MudNavLink>
            
            <MudNavGroup Title="Bank Integration" Expanded="false">
                <MudNavLink Href="/accounts/links/"  Match="NavLinkMatch.All">Import Expenses</MudNavLink>
                <MudNavLink Href="/external/banks"  Match="NavLinkMatch.All">Link to Bank</MudNavLink>
            </MudNavGroup>
            @* <MudNavLink Href="/about"  Match="NavLinkMatch.All">About</MudNavLink> *@
        </MudNavMenu>
        
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
