@inherits LayoutComponentBase

<Sidebar @ref="_sidebar"
         IconName="IconName.BootstrapFill"
         Title="Spbs"
         BadgeText="v0.0.0"
         DataProvider="SidebarDataProvider"/>

<main class="main">
        
        <div class="bb-top-row px-4 d-flex justify-content-between">
            <Icon Name="IconName.List" role="button" @onclick="ToggleSidebar"/>
            <div><LoginDisplay/></div>
        </div>
        
        <div class="px-4 py-2 col-12">@Body</div>
    </main>
    <ToastNotificationComponent />
