<nav class="navbar navbar-dark ps-3 bg-dark">
    @* <div class="container-fluid"> *@
    <a class="navbar-brand" href="">Spbs</a>
    <button title="Menu" class="navbar-toggler btn-outline-success" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    @* </div> *@
</nav>

<div id="nav-menu-left" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav nav-fill nav-dark bg-dark flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="purchases">
                <span class="oi oi-dollar" aria-hidden="true"></span>Purchases
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="">
                <span class="oi oi-globe" aria-hidden="true"></span>Locations
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="">
                <span class="oi oi-calculator" aria-hidden="true"></span>Statistics
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/user">
                <span class="oi oi-cog" aria-hidden="true"></span>Settings
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}