@using Spbs.Ui.Components.UserSettings

@inherits UserSettingsComponentBase

<Button @onclick="OnAddCategoryClickedAsync"
        Size="Size.Small"
        Color="ButtonColor.Primary">New Category</Button>

<Grid @ref="_grid"
      TItem="ExpenseCategoryListItem"
      Class="table table-hover table-bordered table-striped"
      Data="_expenseCategories"
      AllowFiltering="true"
      Responsive="true">

    <GridColumn TItem="ExpenseCategoryListItem" HeaderText="Category" PropertyName="CategoryName">
        @context.CategoryName
    </GridColumn>
</Grid>