@page "/purchases"
@using Spbs.Main.Core.Models

<h1>Purchases</h1>

<div class="container">
    <div class="row">
        <div class="col col-8">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" @onclick="ToggleAddPurchaseComponent">Add</button>
                <button disabled=@_emptySelection type="button" @onclick="EditPurchase" class="btn btn-primary">Edit</button>
                <button disabled=@_emptySelection type="button" class="btn btn-primary" @onclick="DeleteSelectedPurchase">Remove</button>
            </div>
        </div>
        <div class="col col-md-2">
            <RadzenDatePicker @bind-Value=@StartDate DateFormat="d" Class="w-100"/>
        </div>
        <div class="col col-md-2">
            <RadzenDatePicker @bind-Value=@EndDate DateFormat="d" Class="w-100"/>
        </div>
    </div>
    <div class="row">

        <RadzenDataGrid AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true"
                        Data="@_purchases" TItem="Purchase" SelectionMode="DataGridSelectionMode.Single" 
                        @bind-Value=@_selectedPurchase @ref="_purchasesGrid">
            <Columns>
                <RadzenDataGridColumn Width="200px" TItem="Purchase" Property="Description" Title="Description" Filterable="false" Sortable="false" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Width="100px" TItem="Purchase" Property="Total" Title="Total" Filterable="false" Sortable="true" TextAlign="TextAlign.Left"/>
                <RadzenDataGridColumn TItem="Purchase" Property="Location" Title="Location" Filterable="false" Sortable="false" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="Purchase" Property="PurchaseDateTime" Title="Date">
                    <Template Context="purchase">
                        @purchase.PurchaseDateTime.ToString()
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>

    </div>
</div>

<AddPurchaseDialog NewPurchaseCallback="AddNewPurchase" @ref="_addPurchaseDialog"/>