@page "/purchases"
@using Spbs.Main.Core.Models
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons

<h1>Purchases</h1>

<div class="container">
    <div class="row">
        <div class="col col-8">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">Add</button>
              <button type="button" class="btn btn-primary">Edit</button>
              <button type="button" class="btn btn-primary">Right</button>
            </div>
        </div>
        <div class="col col-md-4">
            <SfDateRangePicker TValue="DateTime?" StartDate="@StartDate" EndDate="@EndDate" Placeholder="Choose a range" ShowClearButton="true">
                <DateRangePickerEvents TValue="DateTime?" ValueChange="ValueChangeHandler"></DateRangePickerEvents>
            </SfDateRangePicker>
        </div>
    </div>
    <div class="row">
        <div class="control-section">
            <div class="content-wrapper">
                <SfGrid DataSource="@_purchases">
                    <GridColumns>
                        <GridColumn Field=@nameof(Purchase.Description) HeaderText="Description" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(Purchase.Location) HeaderText="Location" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(Purchase.PurchaseDateTime) HeaderText="Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
</div>