@page "/accounts/links"
@using Spbs.Ui.Features.BankIntegration.Models

<div class="container">
    <div>
        <div class="row flex-column justify-content-start">
            <span class="col">
                <h3>Current Active Bank Links</h3>
            </span>
            <span class="col">
                <Button Type="ButtonType.Link"
                        To="external/banks"
                        Size="Size.Small"
                        Color="ButtonColor.Primary">
                    Add Link
                </Button>

                <Button @onclick="async () => await DeleteSelectedLinks()"
                        Size="Size.Small"
                        Color="ButtonColor.Secondary">
                    Delete Link
                </Button>
            </span>
        </div>

        <div class="row py-2">
            <Grid TItem="NordigenLink"
                  class="table table-hover table-bordered table-striped"
                  Data="_userLinks"
                  Responsive="true"
                  AllowSelection="true"
                  SelectedItemsChanged="OnSelectedItemsChanged">
                <GridColumn TItem="NordigenLink" HeaderText="Institution" PropertyName="InstitutionId">
                    <NavLink class="nav-link" href="@_redirectService?.GetUrlForAccountListing(context.Id)">
                        @if (_institutions is not null && _institutions.ContainsKey(context.InstitutionId))
                        {
                            @_institutions[context.InstitutionId].Name
                        }
                        else
                        {
                            @context.InstitutionId
                        }
                    </NavLink>
                </GridColumn>

                <GridColumn TItem="NordigenLink" HeaderText="Accounts" PropertyName="Accounts">
                    @context.Accounts.Count
                </GridColumn>

                <GridColumn TItem="NordigenLink"
                            HeaderText="Created On"
                            PropertyName="Created">
                    @context.Created.ToString()
                </GridColumn>
            </Grid>
        </div>
    </div>
</div>