@page "/accounts/redirect"
@using Spbs.Ui.Features.BankIntegration.Services
@using AutoMapper
@inject NavigationManager _navigationManager
@inject IRedirectLinkService _redirectLinkService;
@inject INordigenAccountLinkService _accountLinkService;
@inject INordigenLinkReaderRepository _linkReaderRepository;
@inject IMapper _mapper;

<h3>Hang on while we are configuring your new link :)</h3>