@page "/accounts/links"
@inherits Spbs.Ui.Components.SelectableListComponent<Spbs.Ui.Features.BankIntegration.Models.NordigenLink>

<h3>Current Active Bank Links</h3>

<div class="container">
    <div class="card col-6">
        <!--div class="card-header row"-->

        <div class="card-body row">
            <div id="content-buttons" class="col-6">

                @* New Link Button *@
                <a class="btn btn-outline-primary" href="external/banks" data-toggle="tooltip" data-placement="top" title="Add New Link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>

                @* Delete Link Button *@
                <button class="btn btn-outline-primary" @onclick="async () => await DeleteSelectedLink()" data-toggle="tooltip" data-placement="top" title="Add New Link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card-footer row">
            @if (_userLinks is null or { Count: 0 })
            {
                <div>No links added yet. You can connect to your bank from the Bank Integration menu!</div>
            }
            else
            {
                @for (int i = 0; i < _userLinks.Count; ++i)
                {
                    int row = i;
                    var link = _userLinks[i];
                    var institution = @_institutions!.FirstOrDefault(inst => inst.Id == link.InstitutionId);
                    <div class="row">
                        <div class="card @GetRowClass(row)" onclick="@(() => SetSelected(row))">
                            <img src="@institution?.Logo" class="card-img-top" alt="The logo of @institution?.Name">
                            <div class="card-body container">
                                <div class="row card-title">
                                    <NavLink class="nav-link" href="@_redirectService?.GetUrlForAccountListing(link.Id)">
                                        @institution?.Name                
                                    </NavLink>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Bic:
                                    </div>
                                    <div class="col card-text">
                                        @institution?.Bic
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Created On:
                                    </div>
                                    <div class="col card-text">
                                        @link.Created
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Linked Accounts:
                                    </div>
                                    <div class="col card-text">
                                        @(link.Accounts.Count > 0 ? string.Join(", ", link.Accounts) : "No accounts linked")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>