@page "/expenses-overview"
@using Spbs.Ui.Features.Expenses
<h3>ExpensesOverview</h3>

@if (_expenses is null || _expenses.Count == 0)
{
    <p>No expenses to show yet!</p>
}
else
{
    @foreach (Expense e in _expenses)
    {
        <p>@e.Name</p>
    }
}